@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.post {
  display: block;

  &:hover {
    .postContent {
      color: $secondary;

      h3 {
        color: $secondary;
      }
    }
  }
}

.postImageWrapper {
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-3;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  img {
    object-fit: cover;
  }
}

.category {
  background: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow-2;
  color: $black;
  font-size: $font-size-sm;
  font-weight: 500;
  position: absolute;
  top: $spacer-3;
  left: $spacer-3;
  letter-spacing: .05em;
  padding: $spacer-1 $spacer-2;
  text-transform: capitalize;
  z-index: 2;
}

.postContent {
  color: $font-color;
  padding-top: $spacer-6;
  transition: color $transition-time;

  h3 {
    transition: color $transition-time;
  }
}
