@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.imageWrapper {
  margin: $spacer-12 0;
  overflow: hidden;
  border-radius: $border-radius-lg;
}

.excerpt {
  font-size: $font-size-lg;
  margin-bottom: 0;
}

.contentCol {
  max-width: 660px;
}

.authorBox {
  display: flex;
  align-items: center;
}

.authorImage {
  border-radius: 50%;
  height: 6rem;
  overflow: hidden;
  width: 6rem;
  margin-right: $spacer-6;
}

.author {
  font-weight: 700;
}
