@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.post {
  display: block;

  &:hover {
    .postContent {
      color: $secondary;

      h3 {
        color: $secondary;
      }
    }
  }
}

.postImageWrapper {
  border-radius: $border-radius-lg;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  img {
    object-fit: cover;
  }
}

.postContent {
  color: $font-color;
  padding-top: $spacer-6;
  transition: color $transition-time;

  h3 {
    transition: color $transition-time;
  }
}
