@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.imageWrapper {
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-3;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  img {
    object-fit: cover;
  }
}

.excerpt {
  font-size: $font-size-lg;
  margin-bottom: 0;
}

.authorBox {
  display: flex;
  align-items: center;
}

.authorImage {
  border-radius: 50%;
  height: 6rem;
  overflow: hidden;
  width: 6rem;
  margin-right: $spacer-6;
}

.author {
  font-weight: 700;
}
