@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.title {
  color: $white;
  font-size: 120px;
  margin-top: 0;
}

.caption {
  max-width: 800px;
  color: $white;
  font-size: $font-size-lg;
  margin: $spacer-8 0;
}

.cta {
  display: flex;
}

.copy {
  display: flex;
  flex-direction: column;
}

.copyInner {
  margin-bottom: $spacer-12;
}

.copyCta {
  margin-top: auto;
}

.teamImageWrapper {
  border-radius: $border-radius-lg;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  img {
    object-fit: cover;
  }
}

.teamImage {
  border-radius: $border-radius-lg;
}

.servicesIntro {
}

.service {
  align-items: center;
  color: $primary;
  display: flex;
  flex-direction: column;
  text-align: center;

  &:hover {
    .serviceName {
      color: $secondary;
    }
  }
}

.serviceImageWrapper {
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    object-fit: cover;
  }
}

.serviceName {
  color: $font-color;
  font-size: $font-size-sm;
  font-weight: 500;
  margin-top: $spacer-4;
  text-transform: uppercase;
  transition: color $transition-time;
}

.doctorRight {
  align-items: center;
  display: flex;
}

.doctorImageWrapper {
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    object-fit: cover;
  }
}

@include media-breakpoint-down(xl) {
  .title {
    font-size: 80px;
  }
}

@include media-breakpoint-down(lg) {
  .imageCol {
    order: 2;
  }

  .copyCol {
    order: 2;
  }

  .mapCol {
    order: 3;
  }

  .directionsCol {
    order: 4
  }
}

@include media-breakpoint-down(md) {
  .title {
    font-size: 2.5em;
  }

  .caption {
    margin: $spacer-5 0;
  }
}

@include media-breakpoint-down(sm) {
  .cta {
    flex-wrap: wrap;
  }
}
