@use "bootstrap/variables" as *;

.iconLink {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: $font-size-md;
  line-height: 1;
  text-decoration: none;
  transition: all $transition-time;

  &:focus {
    box-shadow: none;
  }
}

.active {
  color: $primary;
}

.iconLeft {
  margin-right: $spacer-4;
}

.iconRight {
  margin-left: $spacer-4;
}

