@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.links {
  align-items: center;
}

.link {
  color: $gray-600;
  font-weight: 500;
  margin: 0 $spacer-4;
  transition: color $transition-time;

  .linkInner {
    border-bottom: $spacer-0_5 solid transparent;
    padding: $spacer-0_5 0 0;
    transition: border-color $transition-time;
  }

  &.active,
  &:hover {
    color: $primary;

    .linkInner {
      border-bottom-color: $primary;
    }
  }
}

@include media-breakpoint-down(md) {
  .links {
    padding: 0 0 $spacer-2;
    top: 100%;
    width: 100%;

    .link {
      display: block;
      margin: 0;
      padding: $spacer-2 0;
    }
  }
}
