@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.review {
  margin-bottom: $spacer-6;
}

.logo {
  height: $spacer-6;
  margin-bottom: $spacer-3;
  width: $spacer-6;

  svg {
    fill: $black;
  }
}

.logoText {
  color: $black;
  font-size: $font-size-lg;
  font-weight: 700;
  line-height: 1;
  margin-bottom: $spacer-3;
}
