@use 'bootstrap/variables' as *;

.form {
  box-shadow: $box-shadow-6;
}

.inputError {
  border: $border-width * 2 solid $red !important;
  padding: ($spacer-3 - $border-width * 3);
  margin-bottom: 0;
}

.inputSuccess {
  border: $border-width * 2 solid $green !important;
  padding: ($spacer-3 - $border-width * 3);
}

.inputErrorMessage {
  color: $red;
  font-size: $font-size-sm;
  font-weight: 700;
  margin: $spacer-2 0 $spacer-5;
}

.submitRow {
  display: flex;
  align-items: center;
}

.successMessage {
  color: $green;
  font-size: $font-size-sm;
  font-weight: 700;
  margin: 0 0 0 $spacer-4;
}

.errorMessage {
  color: $red;
  font-size: $font-size-sm;
  font-weight: 700;
  margin: 0 0 0 $spacer-4;
}
