@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.form {
  align-items: flex-start;
  background: transparent;
  border-radius: unset;
  display: flex;
  margin: $spacer-8 0 0 0;
  padding: unset;
  justify-content: center;
  text-align: left;
}

.inputWrapper {
  width: 30rem;
}

.input {
  color: $font-color;
  margin: 0;

  &:focus {
    border: $border;
  }
}

.inputError {
  border: 0.2rem solid $red !important;
}

.inputSuccess {
  border: 0.2rem solid $green !important;
}

.inputMessage {
  font-size: $font-size-sm;
  font-weight: 700;
  margin: $spacer-2 0 0;
}

.inputErrorMessage {
  font-size: $font-size-sm;
  font-weight: 700;
  margin: $spacer-2 0 0;
}

.submitButton {
  margin: 0 0 0 $spacer-6;
}

@include media-breakpoint-down(lg) {
  .inputWrapper {
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .form {
    flex-wrap: wrap;
  }

  .submitButton {
    margin: $spacer-5 0 0 0;
  }
}
