@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

.tabHeader {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$spacer-3);
}

.tab {
  cursor: pointer;
  flex: 0 0 auto;
  font-size: $font-size-md;
  margin-bottom: $spacer-6;
  padding-left: $spacer-3;
  padding-right: $spacer-3;
  width: 50%;
}

.tabInner {
  background: $gray-100;
  color: $primary;
  border-radius: $border-radius-lg;
  padding: $spacer-6;
  text-align: center;
  transition: $transition-time;
}

.tabActive {
  background: $secondary;
  color: $white;
}

.tabContent {
  overflow: hidden;
}

@include media-breakpoint-down(md) {
  .tab {
    width: 100%;
  }
}
