@use 'bootstrap/variables' as *;
@use 'bootstrap/mixins/breakpoints' as *;

// Fix Next.js images
span[style^="box-sizing:border-box;display:inline-block"] {
  display: block !important;
}

.btn,
button {
  &.secondary {
    border: $border-width solid $border-color;
    background-color: $white;
    color: $primary;
    padding: calc(#{$spacer-4} - #{$border-width}) calc(#{$spacer-8} - #{$border-width});

    &:hover {
      background-color: $gray-300;
    }
  }

  &.icon {
    background-color: transparent;
    border-radius: 0;
    color: $secondary;
    font-weight: 700;
    font-size: $font-size;
    padding: 0;

    &:hover {
      color: $primary;
    }
  }
}

main {
  @include media-breakpoint-down(sm) {
    .btn,
    button {
      width: 100%;
    }

    // & + & is not working here
    .btn + .btn,
    button + button,
    .btn + button,
    button + .btn {
      margin-left: 0;
      margin-top: $spacer-5;
    }
  }
}

.content {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.section {
  padding: $spacer-16 0;
  position: relative;

  &.gray {
    background-color: $gray-100;
  }

  &.blue {
    background-color: $blue;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    ul,
    ol,
    li,
    blockquote,
    cite,
    var,
    label {
      color: $white;
    }
  }

  @include media-breakpoint-down(md) {
    padding: $spacer-12 0;
  }
}

.quote {
  font-family: $sub-font;
  font-style: italic;
  font-size: 1.5em;
  margin: $spacer-8 0;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  img {
    object-fit: cover;
  }

  > span::after {
    background-color: rgba(0, 0, 0, .5);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
